<!DOCTYPE html>

<html>
  <head>
      <title>Error 404</title>
      <link rel="stylesheet" href="/css/styles.css" />
      <link rel="icon" href="/img/favicon.png">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>{{errorMessage}}</p>
    </div>
    {{>footer}}
  </body>
</html>