<!DOCTYPE html>

<html>
  <head>
      <title>About page</title>
      <link rel="stylesheet" href="/css/styles.css" />
      <link rel="icon" href="/img/favicon.png">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Dean Pugh. It uses data from Mapbox and WeatherStack.</p>
    </div>
    {{>footer}}
  </body>
</html>